body {
	background-image: url('background.jpg');
}

@font-face{
	font-family: "FasterOne-Regular";
	src:url("fonts/FasterOne-Regular.ttf");
}

@font-face{
	font-family:Monoton-Regular;
	src:url("fonts/Monoton-Regular.ttf");
}

header {
	text-align: center;
	background-color: #ffbeb7;
	margin: 40px;
	margin-left: 20%;
	margin-right: 20%;
	border-radius: 5px;
}

ul {
	display: flex;
	justify-content: space-evenly;
	background: linear-gradient(#e71837, #6f1c1f);
	border-radius: 5px;
	margin-left: 25px;
	margin-right: 25px;

}

ul li a:hover,
ul li a:focus {
	background: rgba(255,255,255, .2);
	box-shadow: 0 1px 0 rgba(255,255,255,.7) inset,
	0 -1px 0 hsl(210,100%, 42%) inset,
	0 -2px 0 hsl(210,100%, 48%) inset,
	0 -3px 0 hsl(210,100%, 54%) inset,
	0 -4px 0 hsl(210,100%, 60%) inset,
	0 -5px 0 hsl(210,100%, 70%) inset,
}

ul li a:active{
	background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.1));
	box-shadow: 0 0 2px rgba(0,0,0,.3) inset;
}

a{
	
	text-decoration: none;
	color: rgba(0,0,0, .7);
	border-left: solid black;
	border-right: solid black;
	padding-left:50px;
	padding-right:50px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-width:1px; 

}

ul li {
	
	padding: 8px;
	border: 30;
	color: rgb(110,110,110);
	display: table-cell;
	text-shadow: 0 1px 0 rgba(255,255,255, .4);

}



.sous{
display: none;	
}


.sous li{
float: none;
width: 100%;
text-align: left;
}

.sous a{
	display: flex;
flex-direction: column;

	padding: 10px;
	border-bottom: none;
}

.sous a:hover{
border-bottom: none;


}

.deroulant > a:after{
	content:"▼";

}


h1{
	font-family: "Monoton-Regular";
	color: #e71837;
}


.Articles{
background-color:wheat ;
display: flex;
}

.image{

width: 100px;
margin-left: 20px;

}


h3{
	color: red;
	margin-left: 30px;
}

p{
	color: black;
	margin-left: 20px;
	margin-right: 20px;

}
























